.columns>div {
    display: inline-block;
}

img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.columns {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:500px; 
    margin-top: 160px;
    cursor: pointer;
}

table {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
}