.roomContainer {
    border: 2px solid orange;
    /* background-image: url('https://source.unsplash.com/collection/181581/480x160'); */
    width: 400px;
    height: 100px;
    margin: 10px auto;
    background-color: blue;
    opacity: 0.7;

}

.mainDiv{
    margin: 25vh, auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 25px;

}

.roomContainer a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}