.roomContainer {
    border: 2px solid red;
    background-image: url('https://source.unsplash.com/collection/181581/480x160');
    width: 400px;
    height: 100px;
    margin: 10px auto;

}

.mainDiv{
    margin: 25vh, auto;
    align-items: center;
    flex-direction: column;
    text-align: center;

}